name: Deploy Go package

on:
  # pull_request:
  #   branches:
  #     - main
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        options:
        - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: Build
        run: make build

      - name: Settings
        uses: kanga333/variable-mapper@v0.2.2
        id: settings
        with:
          key: ${{ github.event.inputs.environment || github.ref_name }}
          map: |
            {
              "^(main)$": {
                "environment": "dev"
              },
              ".*": {
                "environment": "dev"
              }
            }
          export_to: output,log
          mode: fill

      - name: Deploy the app
        working-directory: ./ansible
        run: |
          echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > ansible.key
          ansible-galaxy install -r requirements.yml
          ansible-playbook playbook.yml \
            --inventory=secrets.yml \
            --extra-vars='servers=${{ steps.settings.outputs.environment }}' \
            --vault-password-file=ansible.key
          rm -f ansible.key
        env:
          ANSIBLE_HOST_KEY_CHECKING: 'false'
