name: Create Release and Tag
on:
  push:
    branches:
      - main

jobs:
  create_release_and_tag:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build Go Binary
        run: go build -o ./build/mcli ./cmd/suid

      - name: Set up Git environment
        run: |
          git config --local user.email "support@staketab.com"
          git config --local user.name "Staketab"

      - name: Set Release Variables
        id: env_vars
        run: |
          tag_name=$(grep -oE 'tag_name\s+=\s+"([^"]+)"' ./releases | awk -F'"' '{print $2}')
          release_name=$(grep -oE 'release_name\s+=\s+"([^"]+)"' ./releases | awk -F'"' '{print $2}')
          echo "TAG_NAME=$tag_name" >> $GITHUB_ENV
          echo "RELEASE_NAME=$release_name" >> $GITHUB_ENV

      - name: Extract Release Body
        id: extract_body
        run: |
          # Extract multiline body between """ markers
          body=$(sed -n '/^body = """/,/^"""/p' ./releases | sed '1d;$d')
          # Write to file for multiline support
          echo "$body" > release_body.md

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
        with:
          tag_name: ${{ env.TAG_NAME }}
          release_name: ${{ env.RELEASE_NAME }}
          body_path: release_body.md

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/mcli
          asset_name: mcli
          asset_content_type: application/octet-stream

      - name: Create Tag
        run: |
          git tag ${{ env.TAG_NAME }}
          git push origin ${{ env.TAG_NAME }}
